<div class="container container-fluid">
	<ul>
		<li>
			<strong>Phone : </strong>
			<ul>
				<li>0120-3054 851 / 852 / 853 / 854 / 835 / 836 / 842</li>
				<li>0120-3989 398</li>
				<li>0120-4953 742 / 751 / 752 / 753 / 754</li>
			</ul>
		</li>
		<li><strong>By Post :</strong></li>
		<p>
			<strong>
				The Additional Secretary (Exams)<br />
				The Institute of Chartered Accountants of India<br />
				ICAI Bhawan<br />
				Indraprastha Marg<br />
				New Delhi 110 002
			</strong>
		</p>
		<li><strong>Email : </strong></li>
		<p><a href="mailto:isa_examhelpline@icai.in"><font color="blue">isa_examhelpline@icai.in</font></a></p>
	</ul>
</div>
