<div class="container container-fluid text-center">
    <div class="headerMessage1">NOTES FOR INFORMATION AND GUIDANCE OF APPLICANTS</div>
    <div class="headerMessage2">
        Information Systems Audit (ISA) Course Assessment Test - @ViewBag.Session
        <br /> 
        (Under Regulation 204 of the Chartered Accountants Regulations, 1988)</div>
</div>

<div class="row bg-light headerMessage2 rounded">
    <ul>
        <li>Exam Fee : Rs. 2000/-</li>
        <li>Online Application Form Starts at 10AM (IST) on 31st May, 2023</li>
        <li>Last Date : 13th June, 2023 (Upto 23:59 Hrs IST)</li>
    </ul>    
</div>
<p class="text-primary">
    Candidates are advised to carefully read, understand and follow the below instructions while filling in the Form and retain the same for future reference:
</p>
<div class="accordion" id="accordionPanelsStayOpenExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse1" aria-expanded="true" aria-controls="panelsStayOpen-collapse1">
                <strong>1. Date of Examination</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-heading1">
            <div class="accordion-body">
               <strong>Saturday, 8th July, 2023</strong>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading2">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse2" aria-expanded="false" aria-controls="panelsStayOpen-collapse2">
                <strong>2. Timings of Examination</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse2" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading2">
            <div class="accordion-body">
                <strong>09.00 a.m. to 01.00 p.m. (IST)</strong>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse3" aria-expanded="false" aria-controls="panelsStayOpen-collapse3">
                <strong>3. Examination Fee</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse3" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading3">
            <div class="accordion-body">
                Rs. 2000/- (Rupees Two Thousand Only).
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse4" aria-expanded="false" aria-controls="panelsStayOpen-collapse4">
                <strong>4. Mode of Payment of Fee</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse4" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading4">
            <div class="accordion-body">
                Exam fee is to be remitted Online only using Master/ Visa/ Maestro Credit/Debit Card/Rupay/BHIM UPI and NetBanking is accepted.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading5">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse5" aria-expanded="false" aria-controls="panelsStayOpen-collapse5">
                <strong>5. Syllabus</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse5" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading5">
            <div class="accordion-body">
                Syllabus for ISA-AT shall be as notified by the Committee on Information Technology / Digital Accounting and Assurance Board.
                <br />
                <strong>The ISA AT July, 2023 will be conducted only in NEW Syllabus(3.0) in OFFLINE MODE.</strong> The data as per office records will be taken as final and the admit cards will be released accordingly.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse6" aria-expanded="false" aria-controls="panelsStayOpen-collapse6">
                <strong>6. Examination Centres</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse6" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading6">
            <div class="accordion-body">
                The Institute reserves its right to withdraw any centre and / or the Zone and / or transfer all or a part of the candidates of a zone to another zone at any stage without assigning any reason. Once a centre is opted for, no change is allowed under any circumstances unless the centre has been withdrawn. Some of the big cities (Mumbai and New Delhi) have been divided into zones, with each zone covering certain areas. Each zone is treated as an examination centre and allotted with a code number.
                <div class="d-flex justify-content-end">
                    <strong><a asp-area="" asp-controller="Info" asp-action="ExamCenters">CLICK HERE TO SEE THE LIST OF EXAM CENTRES</a></strong>
                </div>                
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse7" aria-expanded="false" aria-controls="panelsStayOpen-collapse7">
                <strong>7. Last date for filling of online application at the site http://isaat.icaiexam.icai.org</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse7" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading7">
            <div class="accordion-body">
                <strong>13th June, 2023 (Upto 23.59 Hrs IST )</strong>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading8">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse8" aria-expanded="false" aria-controls="panelsStayOpen-collapse8">
                <strong>8. Eligibility</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse8" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading8">
            <div class="accordion-body">
                <p>Candidates who have already passed the Information Systems Audit Eligibility Test ( ISA ET) / have been issued Eligibility Certificate by the Committee on Information Technology (CIT) / Digital Accounting and Assurance Board(DAAB) of the Institute are eligible to apply for appearing in the Information Systems Audit Assessment Test (ISA AT) scheduled to be held on <strong>8th July 2023</strong>.</p>

                <p><strong>Those members who have passed ET in Old Syllabus (2.0) are eligible to appear for July 2023 ISA AT in the New Syllabus (3.0) as per the decision by the Digital Accounting and Assurance Board of ICAI.</strong></p>

                <p>The data as per office records will be taken as final and the admit cards will be released accordingly.</p>

                <p>Mere possession of Professional Training Certificate is not enough for becoming eligible to appear in the Assessment Test unless a person has been declared “Pass” in the ISA Eligibility Test / an Eligibility Certificate to this effect has been issued to him/her by the Committee on Information Technology (CIT) / Digital Accounting and Assurance Board (DAAB) of the Institute.</p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading9">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse9" aria-expanded="false" aria-controls="panelsStayOpen-collapse9">
                <strong>9. Admission to ISA Course Assessment Test</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse9" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading9">
            <div class="accordion-body">
                No candidate shall be admitted to the ISA Course Assessment Test unless he / she has been enrolled as a Member of the Institute and has been declared “Pass” in the ISA Eligibility Test conducted by Committee on Information Technology / Digital Accounting and Assurance Board of the Institute / an Eligibility Certificate has been issued to this effect by the Committee on Information Technology of the Institute / Digital Accounting and Assurance Board.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading10">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse10" aria-expanded="false" aria-controls="panelsStayOpen-collapse10">
                <strong>10. Issue of Admit Card</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse10" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading10">
            <div class="accordion-body">
                <ul>
                    <li>
                        The Admit Cards for the ISA Course Assessment Test will be hosted on the same site i.e. http://isaat.icaiexam.icai.org by 24th June, 2023 and candidates are requested to download the same from the above web site.
                        All correspondence in the above matter should be addressed to the Additional Secretary (Exams.) of the Institute at New Delhi quoting the following to facilitate prompt action.
                        <ul>
                            <li>ISA Regn. No.</li>
                            <li>Bar Code Number of Application Form</li>
                            <li>Fee Transaction Number</li>
                            <li>Name of the Centre Opted</li>
                            <li>Telephone No.</li>
                            <li>E-mail ID</li>
                        </ul>
                    </li>
                    <li>
                        In Case of any difficulty, Additional Secretary (Exams.), ICAI, ICAI Bhavan, C-1, Sector-1, Noida should be contacted by e-mail at <strong><a href="mailto:isa_examhelpline@icai.in">isa_examhelpline@icai.in</a></strong>
                        <br /><strong>Helpline Desk telephone Nos.</strong> 0120-3054851, 3054852, 3054853, 3054854, 3054835, 3054836, 3054842, 4953751, 4953752, 4953753, 4953754, 4953742 and 3989398.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading11">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse11" aria-expanded="false" aria-controls="panelsStayOpen-collapse11">
                <strong>11. Record of Question Paper Booklet and OMR Answer Sheet tendered at the Examination Centre.</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse11" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading11">
            <div class="accordion-body">
                The Superintendents of Examination Centres are being advised to issue receipt for the Question Paper Booklet and OMR Answer Sheet handed over, through the Invigilator, in the Admit Card.
                Candidates are, therefore, advised to secure the signature of the Invigilator concerned while submitting their Question Paper Booklet and OMR Answer Sheet and retain the Admit Card with themselves as record of receipt, at least till the declaration of result.
                The Candidates should surrender the Question Paper Booklet and OMR Answer Sheet before they leave the examination hall.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading12">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse12" aria-expanded="false" aria-controls="panelsStayOpen-collapse12">
                <strong>12. Requirement for passing the ISA Course Assessment Test</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse12" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading12">
            <div class="accordion-body">
                A candidate for the Information Systems Audit (ISA) Assessment Test shall be declared ordinarily to have passed the test if he / she secures a minimum of 60% (Sixty Percent) marks in aggregate in the ISA Course Assessment Test.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading13">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse13" aria-expanded="false" aria-controls="panelsStayOpen-collapse13">
                <strong>13. Issue of Statement of Marks and Pass Certificate of Information Systems Audit (ISA) Course Assessment Test</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse13" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading13">
            <div class="accordion-body">
                Statement of Marks will be issued to all the candidates who have appeared in the ISA Assessment Test normally in two weeks time from the date of declaration of result, while pass certificates to the qualified candidates will be issued normally in three months time.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading14">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse14" aria-expanded="false" aria-controls="panelsStayOpen-collapse14">
                <strong>14. Verification of answer sheet</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse14" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading14">
            <div class="accordion-body">
                After declaration of result, a candidate may, if he/she so desires, apply for verification of his/her answer sheet within one month from the date of declaration of result from the same site isaat.icaiexam.icai.org by paying Rs. 500/- online as verification fees.
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading15">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse15" aria-expanded="false" aria-controls="panelsStayOpen-collapse15">
                <strong>15. Refund of fee</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse15" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading15">
            <div class="accordion-body">
                <p>
                    The Fee once paid by a candidate shall not be refunded / adjusted under any circumstances except where a candidate applies to the Additional Secretary (Exams) for the transfer of fee to the next Assessment Test only, on the ground that he/she was prevented from attending the Assessment Test on account of circumstances beyond his/her control. Multiple payments made online, if any, received by the Institute, due to systemic error, for a single member (using the correct membership number) , will be identified by the system and excess fee received will be refunded to the credit of the respective accounts from where they originated, by the Institute, within 30 days of the last date for submission of applications.
                    In case multiple online payments are received by the Institute due to systemic error and you do not get a refund within 30 days from the last date for submission of applications, you can claim a refund of the excess amount paid by you, by writing an email to us at isa_examhelpline@icai.in within 45 days from the last date for submission of forms, along with documentary evidence, such as bank/credit card statement, of having paid the exam fees more than once. ICAI will verify the same and refund the excess amount, if any, paid by you.
                </p>
                <p>
                    For the purpose of reckoning as to whether the reason, wherever stated, amounts to circumstances beyond his control, the following guidelines shall be applicable:-
                </p>
                <p>
                    1. Wherever eligibility certificate for appearing in a particular Examination/AT is a prerequisite and in cases where the ineligibility to appear in a particular examination/Assessment Test is made known to the candidate only after the last date for submission of application for a particular Examination/Assessment Test.<br/>
                    OR
                </p>
                <p>
                    2. Wherever, there is a case of hospitalization on account of serious illness of self or own family members duly supported with proper medical certificate and for the purpose of these guidelines “Own family members” would only include parents/spouse/son/daughter/ daughter-in-law/grandson/ granddaughter.
                    <br />OR
                </p>
                <p>
                    3. Wherever, the candidate concerned is/was required to appear before judicial or quasi judicial authorities in personal capacity with relevant proper record to this effect during/on the date(s) of the Exam/AT.
                    <br />OR
                </p>
                <p>
                    4. Wherever, the member concerned was affected by a natural calamity/ disturbances such as flood/cyclone/earthquake or riots in his place of residence or in the place of examination whereby he is not in a position to appear in the examination/Assessment Test on the scheduled dates of examination/AT.
                </p>
                <p>
                    It shall be construed as being/having been prevented from attending the Exam/AT on account of circumstances beyond his control, and it shall be permitted that the fee paid by such a candidate may be appropriated towards the fee payable only for the next following examination/AT. No such request received in the office of the Institute after the expiry of 15 days of the date of commencement of the examination/date of AT shall be considered under any circumstances.
                </p>
                <p>
                    Further, a candidate simply informing that he was unable to appear in a particular Exam/AT due to unavoidable exigencies etc. (without specifying the reasons and submitting evidence thereof) shall not qualify for any adjustment of fee for the next following Exam/AT.
                </p>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading16">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse16" aria-expanded="false" aria-controls="panelsStayOpen-collapse16">
                <strong>16. Legal Dispute</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse16" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading16">
            <div class="accordion-body">
                <strong>For any/all dispute(s) relating to the Information Systems Audit (ISA) Assessment Test conducted by the Institute of Chartered Accountants of India, the Courts at Delhi shall have exclusive jurisdiction.</strong>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-heading17">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse17" aria-expanded="false" aria-controls="panelsStayOpen-collapse17">
                <strong>17. Providing certified copy/inspection of answer sheet</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapse17" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-heading17">
            <div class="accordion-body">
                After declaration of result, a candidate may if he/she so desires, apply for supply of certified copy/inspection of his/her answer sheet within one month from the date of declaration of result and only photo copy of the relevant OMR answer sheet will be provided. Before providing certified copies/inspection, the Institute suo moto carries out verification of the answer sheet.The application can be made online from the same site isaat.icaiexam.icai.org by paying Rs. 100/- online.
            </div>
        </div>
    </div>
</div>

<p class="headerMessage2">
    <strong>
        NOTE : In the event of furnishing any incorrect information / misrepresentation, the admission shall become invalid and No correspondence in this regard shall be entertained.
    </strong>
</p>


<p class="headerMessage2 text-primary">
    <strong>
        How to fill up Online Application Form for appearing in July, 2023 ISA-AT Examination and make online payment of Examination fee at <a href="http://isaat.icaiexam.icai.org">http://isaat.icaiexam.icai.org</a>
    </strong>
</p>

<div class="accordion" id="accordionPanelsStayOpenFillOnlineApplicationForm">
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingStep1">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseStep1" aria-expanded="true" aria-controls="panelsStayOpen-collapseStep1">
                <strong>Step – 1 Login to the portal</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseStep1" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingStep1">
            <div class="accordion-body">
               <ul>
                   <li>
                        The applicant shall visit the website <strong><a href="http://isaat.icaiexam.icai.org" target="_blank">http://isaat.icaiexam.icai.org</a></strong>, Click on <strong><a href="https://isaat.icaiexam.icai.org/ISA_July23ver25523/icai_isa.aspx">APPLY ONLINE</a></strong> link on the home page and enter his/her Six Digit Membership number and ISA registration number. These details will be validated with our database and the ISA-AT Application form will be released for filling. In case these details are not validated, the applicant will be advised that the combination of membership number and ISA registration number is not matching in which case the membership number or ISA registration number or both could be wrong and the applicant is advised to correct that. In case the applicant wishes to still proceed with this combination, the ISA-AT online form will be released and the particulars will still be captured but as ‘Provisional’ candidate.
                   </li>
                   <li>
                        In case of any difficulty in filling online application form for July, 2023 ISA-AT, please call helpline Nos. 0120- 3054851/852/853/854/835/836/842, 4953751/752/753/754/742 and 3989398 sufficiently well in time.
                   </li>
                   <li>
                        The applicant will fill the details and upload the photograph & signatures. <strong>Uploading of photograph & signatures as jpeg / jpg files is Mandatory. The size of photo / signature should not be more than 50KB each.</strong> Please do not include dots in the name of files (eg. Incorrect naming A.P.Kumar.jpg , Correct naming APKumar.jpg) <strong><a href="imgsize.aspx">Click here to know more about cropping of scanned files.</a></strong> (i.e. Photograph and Signature).
                   </li>
                   <li>
                        Scan the PHOTO/SIGNATURE and save as jpeg or jpg files ONLY for uploaing. DO NOT CONVERT/ CHANGE THE EXTENSION OF THE FILES CREATED AS PNG / TIF / BMP. THIS WILL NOT GET UPLOADED.
                   </li>
               </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingStep2">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseStep2" aria-expanded="true" aria-controls="panelsStayOpen-collapseStep2">
                <strong>Step – 2 Online payment of Examination fee</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseStep2" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingStep2">
            <div class="accordion-body">
                <ul>
                    <li>
                        For filling of Online Examination application form for appearing in July, 2023 ISA-AT exam, a candidate has to remit a fee of Rs. 2000/- (Rupees Two thousand only). The Fee should be remitted using Online Payment gateway facility with Visa/Master/Maestro Credit/Debit Card/Rupay Card/Net Banking.
                    </li>
                    <li>
                        <span class="text-danger">In case you are not able to make online payment successfully, you may use some Other Bank's Master/Visa/Maestro Credit/Debit Card and make online payment of Examination fee.</span>
                    </li>
                    <li>
                        Examination fees once paid will not be refunded under any circumstances (except as provided in Para No. 15 hereinbefore).
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="panelsStayOpen-headingStep3">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseStep2" aria-expanded="true" aria-controls="panelsStayOpen-collapseStep2">
                <strong>Step – 3 Check & Confirm Status of Application / Submission of Printout (PDF) of the application submitted online</strong>
            </button>
        </h2>
        <div id="panelsStayOpen-collapseStep2" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingStep2">
            <div class="accordion-body">
                <ul>
                    <li>
                        The applicants are also advised to click on the <strong><a href="chk_pmtstatus.aspx">“Check & Confirm Status of Application”</a></strong> link given on the site which intimates if the payment/application status at the exam portal has been captured successfully. In a small number of cases, the money may get deducted from your account but while the system is writing these details to our servers, a disconnection may happen and hence, the request to check the status of application.
                    </li>
                    <li>
                        If the payment has not been recorded as successful for an attempt made by you, we request you to please pay again. In case multiple online payments are received by the Institute due to systemic error and you do not get a refund within 30 days from the last date for submission of applications, you can claim a refund of the excess amount paid by you, by writing to us at isa_examhelpline@icai.in within 45 days from the last date for submission of forms, along with documentary evidence, such as bank/credit card statement, of having paid the exam fees more than once for the same Membership Number. ICAI will verify the same and refund the excess amount, if any, paid by you. Please keep the copy of barcoded exam application form generated at the end of the process indicating fee particulars for your records at least till the admit cards are released.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<p>&nbsp;</p>
