@if (ViewBag.Session != null)
{
    <div class="border border-primary welcome">
        <img src="../images/new.gif" height="120" width="120" alt="new" />
        <p><a href="#"><span>Online Application for ISA Course Assessment Test - @ViewBag.Session</span></a></p>
    </div>
}
